.CreateOrderView-main-div {
  margin: auto;
  margin: 1% 5% 0px 5%;
  background-color: gray;
  border: 1px black solid;
}

.CreateOrderView-select-dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.CreateOrderView-pizzabox-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.CreateOrderView-pizza-main-container {
  border: black solid 1px;
}

.CreateOrderView-main-modifiers-container {
  display: flex;
}
